<!--connects to student model-->
@model Student
@{
    ViewData["Title"] = "Edit Student";
}
<!--asp-for="FirstName" tag will put the input into the FirstName variable of student model and replaces id="FirstName" name="FirstName" type="text" value=""-->

<body>
    <div class="container body-content">
        <h2>Edit Student</h2>

        <!--form-->
        <form asp-controller="Student" asp-action="ApplyEdit" method="post">
            <div class="form-horizontal">
                <!--FirstName-->
                <div class="form-group">
                    <label class="control-label col-md-2">First Name</label>
                    <div class="col-md-10">
                        <input asp-for="FirstName" class="form-control text-box single-line" />
                    </div>
                </div>

                <!--LastName-->
                <div class="form-group">
                    <label class="control-label col-md-2">Last Name</label>
                    <div class="col-md-10">
                        <input asp-for="LastName" class="form-control text-box single-line" />
                    </div>
                </div>

                <!--Ethnicity-->
                <div class="form-group">
                    <label class="control-label col-md-2">Ethnicity</label>
                    <div class="col-md-10">
                        <select asp-for="Ethnicity" class="form-control">
                            <option value="">Select Ethnicity</option>
                            <option value="African American">African American</option>
                            <option value="Asian">Asian</option>
                            <option value="Hispanic/Latino">Hispanic/Latino</option>
                            <option value="Caucasian">Caucasian</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                </div>

                <!--SchoolName-->
                <div class="form-group">
                    <label class="control-label col-md-2">School</label>
                    <div class="col-md-10">
                        <select asp-for="SchoolName" class="form-control" asp-items="@(new SelectList(ViewBag.SchoolList))"></select>
                    </div>
                </div>

                <!--Facility-->
                <div class="form-group">
                    <label class="control-label col-md-2">KU Site</label>
                    <div class="col-md-10">
                        <select asp-for="Facility" class="form-control" asp-items="@(new SelectList(ViewBag.SiteList))"></select>
                    </div>
                </div>

                <!--SchoolGrade-->
                <div class="form-group">
                    <label class="control-label col-md-2">Grade</label>
                    <div class="col-md-10">
                        <select asp-for="SchoolGrade" class="form-control">
                            <option value="">Select Grade</option>
                            <option value="K">K</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                        </select>
                    </div>
                </div>

                <!--Gender-->
                <div class="form-group">
                    <label class="control-label col-md-2" for="Gender">Gender</label>
                    <div class="col-md-10">
                        <div class="checkbox-inline">
                            <input type="radio" asp-for="Gender" value="Male" />Male
                            <input type="radio" asp-for="Gender" value="Female" />Female
                        </div>
                    </div>
                </div>

                <!--Income-->
                <div class="form-group">
                    <label class="control-label col-md-2">Household Income</label>
                    <div class="col-md-10">
                        <select asp-for="Income" class="form-control">
                            <option value="">Select Income</option>
                            <option value="&lt; $20k">&lt; $20k</option>
                            <option value="$20k - $25k">$20k - $25k</option>
                            <option value="&gt; $25k">&gt; $25k</option>
                        </select>
                    </div>
                </div>

                <!--Lunch-->
                <div class="form-group">
                    <label class="control-label col-md-2">Free Lunch</label>
                    <div class="col-md-10">
                        <div class="checkbox-inline">
                            <input type="radio" asp-for="Lunch" value="true" />Yes
                            <input type="radio" checked="checked" asp-for="Lunch" value="false" />No
                        </div>
                    </div>
                </div>

                <!--EnrolledYear-->
                <div class="form-group">
                    <label class="control-label col-md-2">Enrollment Year (e.g. 1995)</label>
                    <div class="col-md-10">
                        <input class="form-control text-box single-line" asp-for="EnrolledYear" type="number" />
                    </div>
                </div>

                <!--EnrolledSemester-->
                <div class="form-group">
                    <label class="control-label col-md-2">Enrollment Semester</label>
                    <div class="col-md-10">
                        <select asp-for="EnrolledSemester" class="form-control">
                            <option value="">Select Semester</option>
                            <option value="fall">fall</option>
                            <option value="spring">spring</option>
                            <option value="summer">summer</option>
                        </select>
                    </div>
                </div>

                <!--AgeAtEnrollment-->
                <div class="form-group">
                    <label class="control-label col-md-2">Age at Enrollment</label>
                    <div class="col-md-10">
                        <input class="form-control text-box single-line" asp-for="AgeAtEnrollment" type="number" />
                    </div>
                </div>

                <!--Birthday-->
                <div class="form-group">
                    <label class="control-label col-md-2">Birthday</label>
                    <div class="col-md-10">
                        <input class="datepicker" asp-for="Birthday" />
                    </div>
                </div>

                <!--Active-->
                <div class="form-group">
                    <label class="control-label col-md-2">Active</label>
                    <div class="col-md-10">
                        <div class="checkbox">
                            <input checked="checked" class="check-box" asp-for="Active" type="checkbox" />
                            <input asp-for="Birthday" type="hidden" />
                        </div>
                    </div>
                </div>

                <!--TODO: make these only appear if active is unchecked-->
                <!--UnEnrolledYear-->
                <div class="form-group">
                    <label class="control-label col-md-2">Unenrolled Year (optional)</label>
                    <div class="col-md-10">
                        <input class="form-control text-box single-line" asp-for="UnEnrolledYear" type="number" value="" />
                    </div>
                </div>

                <!--UnEnrolledSemester-->
                <div class="form-group">
                    <label class="control-label col-md-2">Unenrolled Semester (optional)</label>
                    <div class="col-md-10">
                        <select asp-for="UnEnrolledSemester" class="form-control">
                            <option value="">Select Semester</option>
                            <option value="fall">fall</option>
                            <option value="spring">spring</option>
                            <option value="summer">summer</option>
                        </select>
                    </div>
                </div>

                <!--variables that need to retain values (hidden from user)-->
                @Html.Hidden("StudentId")
                @Html.Hidden("ReportCards")
                @Html.Hidden("OutcomeMeasurements")


                <!--submit-->
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-default" formmethod="post" />
                    </div>
                </div>
            </div>
        </form>

        <div>
            @Html.ActionLink("Back to Students", "Index", "Student")
        </div>


    </div>
</body>