@model Student
@{
    ViewData["Title"] = "Edit Student";
}

<body>
    <div class="container body-content">
        <h2>Student Roster</h2>
        <h4>Edit Student</h4>
        <hr />

        <form asp-controller="Student" asp-action="Edit" method="post">
            <div class="form-horizontal">
                <!--FirstName-->
                <div class="form-group">
                    <label class="control-label col-md-2">First Name</label>
                    <input asp-for="FirstName" class="form-control" />
                </div>

                <!--LastName-->
                <div class="form-group">
                    <label class="control-label col-md-2">Last Name</label>
                    <input asp-for="LastName" class="form-control" />
                </div>

                <!--Ethnicity-->
                <div class="form-group">
                    <label class="control-label col-md-2">Ethnicity</label>
                    <select asp-for="Ethnicity" asp-items="ViewBag.SelectLists.EthnicityList" class="form-control"></select>
                </div>

                <!--SchoolName-->
                <div class="form-group">
                    <label class="control-label col-md-2">School</label>
                    <select asp-for="SchoolName" class="form-control" asp-items=ViewBag.Selectlists.SchoolList></select>
                </div>

                <!--Facility-->
                <div class="form-group">
                    <label class="control-label col-md-2">KU Site</label>
                    <select asp-for="Facility" class="form-control" asp-items=ViewBag.SelectLists.SiteList></select>
                </div>

                <!--SchoolGrade-->
                <div class="form-group">
                    <label class="control-label col-md-2">Grade</label>
                    <select asp-for="SchoolGrade" class="form-control" asp-items=ViewBag.SelectLists.SchoolGradeList></select>
                </div>

                <!--Gender-->
                <div class="form-group">
                    <label class="control-label col-md-2" for="Gender">Gender</label>
                    <select asp-for="Gender" class="form-control" asp-items=ViewBag.SelectLists.GenderList></select>
                </div>

                <!--Income-->
                <div class="form-group">
                    <label class="control-label col-md-2">Household Income</label>
                    <select asp-for="Income" class="form-control" asp-items=ViewBag.SelectLists.IncomeList></select>
                </div>

                <!--Lunch-->
                <div class="form-group">
                    <label class="control-label col-md-2">Free Lunch</label>
                    <select asp-for="Lunch" class="form-control" asp-items=ViewBag.SelectLists.LunchList></select>
                </div>

                <!--EnrolledYear-->
                <div class="form-group">
                    <label class="control-label col-md-2">Enrollment Year</label>
                    <input asp-for="EnrolledYear" class="form-control" />
                </div>

                <!--EnrolledSemester-->
                <div class="form-group">
                    <label class="control-label col-md-2">Enrollment Semester</label>
                    <select asp-for="EnrolledSemester" class="form-control" asp-items=ViewBag.SelectLists.SemesterList></select>
                </div>

                <!--AgeAtEnrollment-->
                <div class="form-group">
                    <label class="control-label col-md-2">Age at Enrollment</label>
                    <input asp-for="AgeAtEnrollment" class="form-control" />
                </div>

                <!--Birthday-->
                <div class="form-group">
                    <label class="control-label col-md-2">Birthday</label>
                    <input asp-for="Birthday" class="datepicker" />
                </div>

                <!--Active-->
                <div class="form-group">
                    <label class="control-label col-md-2">Active</label>
                    <div class="checkbox col-md-10">  
                        <input asp-for="Active" />
                    </div>
                </div>

                <!--TODO: make these only appear if active is unchecked-->
                <!--UnEnrolledYear-->
                <div class="form-group">
                    <label class="control-label col-md-2">Unenrolled Year (optional)</label>
                    <input  asp-for="UnEnrolledYear" class="form-control" />
                </div>

                <!--UnEnrolledSemester-->
                <div class="form-group">
                    <label class="control-label col-md-2">Unenrolled Semester (optional)</label>
                    <select asp-for="UnEnrolledSemester" class="form-control" asp-items=ViewBag.SelectLists.SemesterList></select>
                </div>


                <!--Parent information-->

                <h2>Edit Parent Information</h2>
                <h3>Parent 1</h3>

                <!--Parent 1 Name-->
                <div class="form-group">
                    <label class="control-label col-md-2">Name</label>
                    <input asp-for="ParentName1" class="form-control" />
                </div>

                <!--Parent 1 Realtionship-->
                <div class="form-group">
                    <label class="control-label col-md-2">Relationship</label>
                    <select asp-for="RelationshipParent1" class="form-control" asp-items=ViewBag.SelectLists.RelationshipList></select>
                </div>

                <!--Parent 1 Phone Number-->
                <div class="form-group">
                    <label class="control-label col-md-2">Phone Number</label>
                    <input asp-for="ParentNumber1" class="form-control" />
                </div>

                <!--Parent 1 Apartment Number-->
                <div class="form-group">
                    <label class="control-label col-md-2">Apartment Number</label>
                    <input asp-for="ParentAptNumber1" class="form-control" />
                </div>

                <!--Parent 1 Email Address-->
                <div class="form-group">
                    <label class="control-label col-md-2">Email address</label>
                    <input asp-for="ParentEmailAddress1" class="form-control" />
                </div>

                <h3>Parent 2</h3>

                <!--Parent 2 Name-->
                <div class="form-group">
                    <label class="control-label col-md-2">Name</label>
                    <input asp-for="ParentName2" class="form-control" />
                </div>

                <!--Parent 2 Realtionship-->
                <div class="form-group">
                    <label class="control-label col-md-2">Relationship</label>
                    <select asp-for="RelationshipParent2" class="form-control" asp-items=ViewBag.SelectLists.RelationshipList></select>
                </div>

                <!--Parent 2 Phone Number-->
                <div class="form-group">
                    <label class="control-label col-md-2">Phone Number</label>
                    <input asp-for="ParentNumber2" class="form-control" />
                </div>

                <!--Parent 2 Apartment Number-->
                <div class="form-group">
                    <label class="control-label col-md-2">Apartment Number</label>
                    <input asp-for="ParentAptNumber2" class="form-control" />
                </div>

                <!--Parent 2 Email Address-->
                <div class="form-group">
                    <label class="control-label col-md-2">Email address</label>
                    <input asp-for="ParentEmailAddress2" class="form-control" />
                </div>

                <!--variables that need to retain values (hidden from user)-->
                @Html.Hidden("StudentId")
                @Html.Hidden("ReportCards")
                @Html.Hidden("OutcomeMeasurements")
                <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />

                <!--submit-->
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-default" formmethod="post" />
                    </div>
                </div>
            </div>
        </form>

        <div>
            @Html.ActionLink("Back", "View", new { Model.StudentId, ViewBag.returnUrl })
        </div>
    </div>
</body>