@model OutcomeMeasurement

<body>

    <div class="container body-content">
        <h2>Edit Outcome Measurement</h2>

        <!--form-->
        <form asp-controller="Student" asp-action="ApplyEditOutcome" method="post">
            <div class="form-horizontal">
                <h4>@Model.Student.FirstName @Model.Student.LastName</h4><hr />

                <!--SchoolGrade-->
                <div class="form-group">
                    <label class="control-label col-md-2">School Grade</label>
                    <div class="col-md-10">
                        <select asp-for="ReportSchoolGrade" class="form-control">
                            <option value="">Select Grade</option>
                            <option value="K">K</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                        </select>
                    </div>
                </div>

                <!--EnrolledSemester-->
                <div class="form-group">
                    <label class="control-label col-md-2">Semester</label>
                    <div class="col-md-10">
                        <select asp-for="ReportSchoolSemester" class="form-control">
                            <option value="">Select Semester</option>
                            <option value="fall">fall</option>
                            <option value="spring">spring</option>
                            <option value="summer">summer</option>
                        </select>
                    </div>
                </div>

                <!--MATH-->
                <h4>Math</h4><hr />
                <div class="form-group">
                    <label class="control-label col-md-2">Pre-test: </label>
                    <div class="col-md-10">
                        <input asp-for="MathPreTest" class="form-control text-box single-line" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Post-test: </label>
                    <div class="col-md-10">
                        <input asp-for="MathPostTest" class="form-control text-box single-line" />
                    </div>
                </div>



                <!--Language Arts-->
                <h4>Language Arts</h4><hr />
                <div class="form-group">
                    <label class="control-label col-md-2">Pre-test: </label>
                    <div class="col-md-10">
                        <input asp-for="LanguagePreTest" class="form-control text-box single-line" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Post-test: </label>
                    <div class="col-md-10">
                        <input asp-for="LanguagePostTest" class="form-control text-box single-line" />
                    </div>
                </div>



                <!--Reading-->
                <h4>Math</h4><hr />
                <div class="form-group">
                    <label class="control-label col-md-2">Pre-test: </label>
                    <div class="col-md-10">
                        <input asp-for="ReadingPreTest" class="form-control text-box single-line" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Fluency 1: </label>
                    <div class="col-md-10">
                        <input asp-for="ReadingFluencyTest" class="form-control text-box single-line" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Fluency 2: </label>
                    <div class="col-md-10">
                        <input asp-for="ReadingFluencyTest2" class="form-control text-box single-line" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Fluency 3: </label>
                    <div class="col-md-10">
                        <input asp-for="ReadingFluencyTest3" class="form-control text-box single-line" />
                    </div>
                </div>



                <!--Self Esteem-->
                <h4>Self-Esteem</h4><hr />
                <div class="form-group">
                    <label class="control-label col-md-2">Pre-test: </label>
                    <div class="col-md-10">
                        <input asp-for="SelfEsteemPreTest" class="form-control text-box single-line" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Post-test: </label>
                    <div class="col-md-10">
                        <input asp-for="SelfEsteemPostTest" class="form-control text-box single-line" />
                    </div>
                </div>


                <!--variables that need to retain values (hidden from user)-->
                @Html.Hidden("OutcomeId")
                @Html.Hidden("Student")


                <!--submit-->
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-default" formmethod="post" />
                    </div>
                </div>
            </div>
        </form>

        <!--back-->
        <div>
            @Html.ActionLink("Back to Outcome Measurements", "OutcomeIndex", new { id = Model.Student.StudentId })
        </div>


    </div>
</body>