@model StudentViewModel
@{
    ViewData["Title"] = "Student Roster";
}

<script>
    var searchData = @Html.Raw(Json.Serialize(Model.SearchData)) // When page loads, use setSelectValue() to reset the search options to what was last searched
</script>
<body onload="setSelectValue(searchData)">
    <div class="container body-content">
        <h2>Student Roster</h2>

        <!--search/filter/sort-->
        <div class="tabletop">
            <div id="left">
                <!--This button goes to the Add view which is the form for creating a student-->
                @Html.ActionLink("Create New", "Add", "Student")

                <!--Enter always submits first button, hidden search button for priority over export button-->
                <button hidden form="searchForm" type="submit"></button>
                <!--Export button, connected to the searchForm so that the selected filtering is applied-->
                <button form="searchForm" formaction="Student/Export" type="submit">Export</button>

                <!--sort-->
                <select id="sortOrderSelect" form="searchForm" name="SortOrder" asp-items="ViewBag.SelectLists.SortOrderList"></select>
            </div>

            <!--Search Bar reloads view with selected form data-->
            <div id="search">
                <form id="searchForm" asp-controller="Student" asp-action="Index" method="get">
                    <input type="text" name="Name" value=@Model.SearchData.Name placeholder="Enter Student Name" autofocus />
                    <button type="button" onclick="showHide()">Adv.</button>
                    <button type="submit" value="Search">Go</button>
                </form>
            </div>
        </div>

        <!--each select is tied to the searchForm so its value is passed to Index(), the name determines which parameter the value is-->
        <div class="expand" id="advancedSearch" style="display:grid">
            <div>
                <strong>Ethnicity:</strong><br>
                <select id="ethnicitySelect" form="searchForm" name="Ethnicity" asp-items="ViewBag.SelectLists.EthnicityList"></select>
            </div>
            <div>
                <strong>KU Site:</strong><br>
                <select id="siteSelect" form="searchForm" name="Site" asp-items="ViewBag.SelectLists.SiteList"></select>
            </div>
            <div>
                <strong>Income:</strong><br>
                <select id="incomeSelect" form="searchForm" name="Income" asp-items="ViewBag.SelectLists.IncomeList"></select>
            </div>
            <div>
                <strong>Active</strong>:<br>
                <select id="activeSelect" form="searchForm" name="Active" asp-items="ViewBag.SelectLists.ActiveList"></select>
            </div>
            <div>
                <strong>Years Enrolled:</strong><br>
                <select id="yearsEnrolledSelect" form="searchForm" name="YearsEnrolled" asp-items="ViewBag.SelectLists.YearsEnrolledList"></select>
            </div>
            <div>
                <strong>Gender:</strong><br>
                <select id="genderSelect" form="searchForm" name="Gender" asp-items="ViewBag.SelectLists.GenderList"></select>
            </div>
            <div>
                <strong>School:</strong><br>
                <select id="schoolSelect" form="searchForm" name="School" asp-items="ViewBag.SelectLists.SchoolList"></select>
            </div>
            <div>
                <strong>School Grade:</strong><br>
                <select id="schoolGradeSelect" form="searchForm" name="SchoolGrade" asp-items="ViewBag.SelectLists.SchoolGradeList"></select>
            </div>
            <div>
                <strong>Free Lunch:</strong><br>
                <select id="lunchSelect" form="searchForm" name="Lunch" asp-items="ViewBag.SelectLists.LunchList"></select>
            </div>
        </div>

        <!--table-->
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Kids-U Site</th>
                <th>Grade</th>
                <th>School</th>
                <th>Active</th>
                <th></th>
                <th>@Model.SearchData.ResultCount Results</th>
            </tr>

            <!--Displays all students from model. Students filtered in GetStudentsAsync()-->
            @foreach (var item in Model.Students)
            {
                <tr class="table-entry-row" onclick="window.location = '/Student/View/@item.StudentId'"> <!--Click the row to run View(StudentId), goes to individual view-->
                    <td>@item.FirstName @item.LastName</td>
                    <td>@item.Facility</td>
                    <td>@item.SchoolGrade</td>
                    <td>@item.SchoolName</td>
                    <td>@item.Active</td>
                    <td>
                        @Html.ActionLink("Report Cards", "View", "ReportCard", new { id = item.StudentId, returnUrl = "/Student" }) |
                        @Html.ActionLink("Outcome Measurements", "OutcomeIndex", new { id = item.StudentId })
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.StudentId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.StudentId })
                    </td>
                </tr>
            }
        </table>
    </div>
</body>