@model OutcomeViewModel
@{
    ViewData["Title"] = "Outcome Measurements";
}

<body>
    <div class="container body-content">
        <h2>Outcome Measurements for @Model.Student.FirstName @Model.Student.LastName</h2>

        <!--search/filter/sort-->
        <div class="tabletop">
            <div id="left">
                @Html.ActionLink("Create New", "CreateOutcome", new { id = Model.Student.StudentId })

                <!--does nothing right now-->
                <a href="/ReportCardRecords/Export">Export</a>

            </div>
        </div>


        @foreach (var item in Model.OutcomeMeasurements)
        {
            <h3>Grade: @(item.ReportSchoolGrade) Semester: @(item.ReportSchoolSemester)</h3>
            <table class="table">

                <tr>
                    <th>Math Pre-test</th>
                    <th>Math Post-test</th>
                    <th>Language Arts Pre-test</th>
                    <th>Language Arts Post-test</th>
                    <th>Reading Pre-test</th>
                    <th>Reading Fluency 1</th>
                    <th>Reading Fluency 2</th>
                    <th>Reading Fluency 3</th>
                    <th>Self-Esteem Pre-test</th>
                    <th>Self-Esteem Post-test</th>
                    <th></th>
                </tr>

                <tr>
                    <td>@(String.IsNullOrEmpty(item.MathPreTest) ? "--" : item.MathPreTest) </td>
                    <td>@(String.IsNullOrEmpty(item.MathPostTest) ? "--" : item.MathPostTest) </td>
                    <td>@(String.IsNullOrEmpty(item.LanguagePreTest) ? "--" : item.LanguagePreTest) </td>
                    <td>@(String.IsNullOrEmpty(item.LanguagePostTest) ? "--" : item.LanguagePostTest) </td>
                    <td>@(String.IsNullOrEmpty(item.ReadingPreTest) ? "--" : item.ReadingPreTest) </td>
                    <td>@(String.IsNullOrEmpty(item.ReadingFluencyTest) ? "--" : item.ReadingFluencyTest) </td>
                    <td>@(String.IsNullOrEmpty(item.ReadingFluencyTest2) ? "--" : item.ReadingFluencyTest2) </td>
                    <td>@(String.IsNullOrEmpty(item.ReadingFluencyTest3) ? "--" : item.ReadingFluencyTest3) </td>
                    <td>@(String.IsNullOrEmpty(item.SelfEsteemPreTest) ? "--" : item.SelfEsteemPreTest) </td>
                    <td>@(String.IsNullOrEmpty(item.SelfEsteemPostTest) ? "--" : item.SelfEsteemPostTest) </td>
                    <td>@Html.ActionLink("Edit", "EditOutcome", new { id = item.OutcomeId })</td>
                </tr>

            </table>
        }

        <!--back-->
        <div>
            @Html.ActionLink("Back to Students", "Index", "Student")
        </div>
    </div>
</body>