@model Student
@{
    ViewData["Title"] = "View Student";
}

<body>
    <div class="container body-content">
        <h2>Student Roster</h2>

        <h4>@Model.FirstName @Model.LastName</h4>
        <hr>

        <div class="student-info">
            <table id="general">

                <tr class="header"><td>General Information</td></tr>

                <tr>
                    <td>Full Name:</td>
                    <td>@Model.FirstName @Model.LastName</td>
                </tr>
                <tr>
                    <td>Date of Birth:</td>
                    @{
                        DateTime? dob = Model.Birthday;
                        string dateString = dob.HasValue
                            ? Model.Birthday.Value.ToString("d")
                            : "N/A";
                        @Html.Raw("<td>" + dateString + "</td>");
                    }
                </tr>
                <tr>
                    <td>Ethnicity:</td>
                    <td>@Model.Ethnicity</td>
                </tr>
                <tr>
                    <td>Gender:</td>
                    <td>@Model.Gender</td>
                </tr>

                <tr><td><br /></td></tr>
                <tr class="header"><td>Academic Information</td></tr>

                <tr>
                    <td>Grade Level:</td>
                    <td>@Model.SchoolGrade</td>
                </tr>
                <tr>
                    <td>School:</td>
                    <td>@Model.SchoolName</td>
                </tr>
                <tr>
                    <td>KU Site:</td>
                    <td>@Model.Facility</td>
                </tr>
                <tr>
                    <td>Enrollment Year:</td>
                    <td>@Model.EnrolledYear</td>
                </tr>
                <tr>
                    <td>Enrollment Semester:</td>
                    @if (String.IsNullOrEmpty(Model.EnrolledSemester))
                    {
                        @Html.Raw("<td></td>");
                    }
                    else
                    {
                        string enrolledSemester = Model.EnrolledSemester;
                        enrolledSemester = char.ToUpper(enrolledSemester[0]) + enrolledSemester.Substring(1);
                        @Html.Raw("<td>" + enrolledSemester + "</td>");
                    }
                </tr>
                <tr>
                    <td>Enrollment Age:</td>
                    <td>@Model.AgeAtEnrollment</td>
                </tr>
                <tr>
                    <td>Unenrolled Year:</td>
                    <td>@Model.UnEnrolledYear</td>
                </tr>
                <tr>
                    <td>Unenrolled Semester:</td>
                    @if (String.IsNullOrEmpty(Model.UnEnrolledSemester))
                    {
                        @Html.Raw("<td></td>");
                    }
                    else
                    {
                        string unenrolledSemester = Model.UnEnrolledSemester;
                        unenrolledSemester = char.ToUpper(unenrolledSemester[0]) + unenrolledSemester.Substring(1);
                        @Html.Raw("<td>" + unenrolledSemester + "</td>");
                    }
                </tr>
                <tr>
                    @if (Model.Active == true)
                    {
                        <td>Active:</td>
                        <td>Yes</td>
                    }
                    else
                    {
                        <td>Active:</td>
                        <td>No</td>
                    }
                </tr>

                <tr><td><br /></td></tr>
                <tr class="header"><td>Financial Information</td></tr>

                <tr>
                    <td>Household Income:</td>
                    @if (String.IsNullOrEmpty(Model.Income))
                    {
                        @Html.Raw("<td></td>");
                    }
                    else if (Model.Income.Contains("&gt;"))
                    {
                        string msg = Model.Income.Replace("&gt;", ">");
                        @Html.Raw("<td>" + msg + "</td>");
                    }
                    else if (Model.Income.Contains("&lt;"))
                    {
                        string msg = Model.Income.Replace("&lt;", "<");
                        @Html.Raw("<td>" + msg + "</td>");
                    }
                    else
                    {
                        <td>@Model.Income</td>
                    }
                </tr>
                <tr>
                    @if (Model.Lunch == true)
                    {
                        <td>Free Lunch:</td>
                        <td>Yes</td>
                    }
                    else
                    {
                        <td>Free Lunch:</td>
                        <td>No</td>
                    }
                </tr>
                <tr><td><br /></td></tr>
                <tr>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { Model.StudentId, ViewBag.returnUrl }) |
                        @using (Html.BeginForm("Delete", "Student", new { Model.StudentId, ViewBag.returnUrl }))
                        {<input id="delete-btn" type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this Student?')" />}
                        | @Html.ActionLink("Export", "ExportSingle", "Student", new { studentId = Model.StudentId })
                    </td>
                </tr>
            </table>
            <br />
        </div>

        <div>
            <a href=@ViewBag.returnUrl>Back</a>
        </div>
    </div>
</body>