@model  ApplicationUserViewModel
@{
    ViewData["Title"] = "Staff Directory";
}

<body>
    <div class="container body-content">
        <h2>Staff Directory and Management</h2>
        <br />
        @Html.ActionLink("Add", "Add", "Staff")

        <!--table-->
        <table class="table">
            <tr>
                <th>Name</th>
                <th>UserName</th>
                <th>Email</th>
                <th>Role</th>
                <th>Site</th>
                <th>Active</th>
                <th></th>
            </tr>

            @foreach (var item in Model.Users)
            {
                <tr>
                    <td>@item.FirstName @item.LastName</td>
                    <td>@item.UserName</td>
                    <td>@item.Email</td>
                    <td>@item.Role</td>
                    <td>@item.Site</td>
                    <td>@item.Active</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Staff", new { Email = item.Email }) |
                        @using (Html.BeginForm("Delete", "Staff", new { Email = item.Email }))
                        {<input id="delete-btn" type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this Staff?')" />}
                    </td>
                </tr>
            }
        </table>
        @Html.ActionLink("Back", "Index", "Home")
    </div>
</body>

