@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}




    <head ng-app="kidsu">
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Login - Kids-U Data Entry Application </title>
        <link href="/css/bootstrap.css" rel="stylesheet"/>
        <link href="/css/site.css" rel="stylesheet"/>
        <link href="/css/bootstrap-datepicker3.css" rel="stylesheet"/>
        <script src="/js/site.js"></script>
        <style>
            .col-md-4 {
                padding: 20px;
            }
            .sugar
            {
                color:  white;
                border: none;
                background-color: inherit;
                padding: 14px 28px;
                font-size: 16px;
                cursor: pointer;
                display: inline-block;
            }
            .spice
            {
                color:  white;
                border: none;
                background-color: inherit;
                padding: 14px 28px;
                font-size: 16px;
                display: inline-block;
            }
            .sugar:hover 
            {
                background-color: #000C7C;
                color: white;
                text-decoration: none;
            }
        </style>
    </head>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li>
                    <div class="navbar-collapse collapse">
                        <h10 class="spice">Kids-U- Data Entry</h10>
                     </div>
                 </li>
                <li class="navbar-collapse collapse">
                    <a class="sugar" asp-area="Identity" asp-page="/Account/Login">Login</a>
                </li>
            </ul>
        </div>
    </div>

<h1>@ViewData["Title"]</h1>


<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>
    <!-- USED FOR EXTERNAL LOGIN 
        <div class="col-md-6 col-md-offset-2">
            <section>
                <h4>Use another service to register.</h4>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>
        -->
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
