@model StudentViewModel
@{
    ViewData["Title"] = "Report Cards";
}

<body>
    <div class="container body-content">
        <h2>Report Cards</h2>

        <!--search/filter/sort-->
        <div class="tabletop">
            <div id="left">
                <!--This button goes to the Add view which is the form for creating a report card-->
                @Html.ActionLink("Create New", "Add", "ReportCard", new { ViewBag.returnUrl })

                <!--Pressing Enter always submits the first button, this hidden search button gets priority over export button-->
                <button hidden form="searchForm" type="submit"></button>
                <!--Export button, connected to the searchForm so that the selected filtering is applied-->
                <button form="searchForm" formaction="ReportCard/Export" type="submit">Export</button>
                <!--Sort-->
                <select form="searchForm" asp-for="SearchData.SortOrder" asp-items="ViewBag.SelectLists.SortOrderList"></select>
            </div>

            <!--Search Bar reloads view with selected form data-->
            <div id="search">
                <form id="searchForm" asp-controller="ReportCard" asp-action="Index" method="get">
                    <input asp-for="SearchData.Name" placeholder="Enter Student Name" autofocus />
                    @Html.ActionLink("Clear", "Index", "ReportCard") <!--Reload page to reset filters-->
                    <button type="submit">Go</button>
                </form>
            </div>
        </div>

        <!--Renders the select boxes for advanced search-->
        <partial name="_AdvancedSearch" />

        <!--table-->
        <table class="table report-card-table">
            <tr>
                <th colspan="4"></th>
                <th colspan="2">Report Card</th>
                <th colspan="6" class="th-center">Math</th>
                <th></th>
                <th colspan="6" class="th-center">Reading</th>
                <th></th>
                <th colspan="6" class="th-center">Language</th>
            </tr>
            <tr>
                <th>Name</th>
                <th>Kids-U Site</th>
                <th>Grade</th>
                <th>School</th>
                <th>Grade</th>
                <th>Semester</th>

                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>S</th>
                <th></th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>S</th>
                <th></th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>S</th>
            </tr>

            <!--Displays the lastest report card for every student. Students filtered in GetStudents()-->
            @foreach (Student item in Model.Students)
            {
                <!--Click the row to run View(StudentId), goes to individual view-->
                <tr class="table-clickable-row" onclick="window.location = '/ReportCard/View/?studentId=@item.StudentId&returnUrl=@System.Web.HttpUtility.UrlEncode(ViewBag.returnUrl)'">
                    <td>@item.FirstName @item.LastName</td>
                    <td>@item.Facility</td>
                    <td>@item.SchoolGrade</td>
                    <td>@item.SchoolName</td>
                    @if (item.ReportCards == null || item.ReportCards.Count == 0)
                    {
                        <td colspan="24">No Report Cards</td>
                    }
                    else
                    {
                        ReportCard rc = item.ReportCards.ToList().Last(); // Get the latest report card for the student

                        <td>@rc.ReportSchoolGrade</td>
                        <td>@rc.ReportSchoolSemester</td>

                        <td>@rc.MathFirst</td>
                        <td>@rc.MathSecond</td>
                        <td>@rc.MathThird</td>
                        <td>@rc.MathFourth</td>
                        <td>@rc.MathFifth</td>
                        <td>@rc.MathSemester</td>
                        <td></td>
                        <td>@rc.ReadingFirst</td>
                        <td>@rc.ReadingSecond</td>
                        <td>@rc.ReadingThird</td>
                        <td>@rc.ReadingFourth</td>
                        <td>@rc.ReadingFifth</td>
                        <td>@rc.ReadingSemester</td>
                        <td></td>
                        <td>@rc.LanguageFirst</td>
                        <td>@rc.LanguageSecond</td>
                        <td>@rc.LanguageThird</td>
                        <td>@rc.LanguageFourth</td>
                        <td>@rc.LanguageFifth</td>
                        <td>@rc.LanguageSemester</td>
                    }
                </tr>
            }
        </table>
        @Html.ActionLink("Back", "Index", "Home")
    </div>
</body>