@model SchoolViewModel
<body>


    <div class="container body-content">
        <h2>Schools</h2>

        <!--search/filter/sort-->
        <div class="tabletop">
            <div id="left">
                @Html.ActionLink("Create New", "Create", "School")
            </div>
        </div>

        <!--table-->
        <table class="table">
            <tr>
                <th>School Name</th>
                <th>District</th>
                <th>Active</th>
                <th></th>
                <th></th>
            </tr>

            <!--TODO: this returns all, need to add filters-->
            @foreach (var item in Model.Schools)
            {
                <tr>
                    <td>@item.SchoolName</td>
                    <td>@item.District</td>
                    <td>@item.Active</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.SchoolId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.SchoolId })
                    </td>
                </tr>
            }

        </table>

    </div>
</body>