@model StudentViewModel
@{
    ViewData["Title"] = "Outcome Measurements";
}

<body>
    <div class="container body-content">
        <h2>Outcome Measurements</h2>

        <!--search/filter/sort-->
        <div class="tabletop">
            <div id="left">
                <!--This button goes to the Add view which is the form for creating a report card-->
                @Html.ActionLink("Create New", "Add", "OutcomeMeasurement", new { ViewBag.returnUrl })

                <!--Pressing Enter always submits the first button, this hidden search button gets priority over export button-->
                <button hidden form="searchForm" type="submit"></button>
                <!--Export button, connected to the searchForm so that the selected filtering is applied-->
                <button form="searchForm" formaction="OutcomeMeasurement/Export" type="submit">Export</button>
                <!--Sort-->
                <select form="searchForm" asp-for="SearchData.SortOrder" asp-items="ViewBag.SelectLists.SortOrderList"></select>
            </div>

            <!--Search Bar reloads view with selected form data-->
            <div id="search">
                <form id="searchForm" asp-controller="OutcomeMeasurement" asp-action="Index" method="get">
                    <input asp-for="SearchData.Name" placeholder="Enter Student Name" autofocus />
                    @Html.ActionLink("Clear", "Index", "OutcomeMeasurement") <!--Reload page to reset filters-->
                    <button type="submit">Go</button>
                </form>
            </div>
        </div>

        <!--Renders the select boxes for advanced search-->
        <partial name="_AdvancedSearch" />

        <table class="table report-card-table">
            <tr>
                <th colspan="4"></th>
                <th colspan="2">Outcome</th>
                <th colspan="2" class="th-center">Math</th>
                <th></th>
                <th colspan="2" class="th-center">Language</th>
                <th></th>
                <th colspan="2" class="th-center">Reading</th>
                <th></th>
                <th colspan="3" class="th-center">Fluency</th>
                <th></th>
                <th colspan="2" class="th-center">Esteem</th>
            </tr>
            <tr>
                <th>Name</th>
                <th>Kids-U Site</th>
                <th>Grade</th>
                <th>School</th>
                <th>Grade</th>
                <th>Semester</th>

                <th>Pre</th>
                <th>Post</th>
                <th></th>
                <th>Pre</th>
                <th>Post</th>
                <th></th>
                <th>Pre</th>
                <th>Post</th>
                <th></th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th></th>
                <th>Pre</th>
                <th>Post</th>
            </tr>

            <!--Displays the lastest OM for every student. Students filtered in GetStudentsWithOutcomes()-->
            @foreach (Student item in Model.Students)
            {
                <!--Click the row to run View(StudentId), goes to individual view-->
                <tr class="table-clickable-row" onclick="window.location = '/OutcomeMeasurement/View/?studentId=@item.StudentId&returnUrl=@System.Web.HttpUtility.UrlEncode(ViewBag.returnUrl)'">
                    <td>@item.FirstName @item.LastName</td>
                    <td>@item.Facility</td>
                    <td>@item.SchoolGrade</td>
                    <td>@item.SchoolName</td>
                    @if (item.OutcomeMeasurements == null || item.OutcomeMeasurements.Count == 0)
                    {
                        <td colspan="17">No Outcome Measurements</td>
                    }
                    else
                    {
                        OutcomeMeasurement om = item.OutcomeMeasurements.ToList().Last(); // Get the latest OM for the student

                        <td>@om.ReportSchoolGrade</td>
                        <td>@om.ReportSchoolSemester</td>

                        <td>@om.MathPreTest</td>
                        <td>@om.MathPostTest</td>
                        <td></td>
                        <td>@om.LanguagePreTest</td>
                        <td>@om.LanguagePostTest</td>
                        <td></td>
                        <td>@om.ReadingPreTest</td>
                        <td>@om.ReadingPostTest</td>
                        <td></td>
                        <td>@om.ReadingFluencyTest</td>
                        <td>@om.ReadingFluencyTest2</td>
                        <td>@om.ReadingFluencyTest3</td>
                        <td></td>
                        <td>@om.SelfEsteemPreTest</td>
                        <td>@om.SelfEsteemPostTest</td>
                    }
                </tr>
            }
        </table>
        @Html.ActionLink("Back", "Index", "Home")
    </div>
</body>