@{
    ViewData["Title"] = "Home Page";
}


<div class="container body-content">
    <!--display-->
    <div class="jumbotron row">
        <div class="col-md-3">
            <a class="logo" href="http://www.kids-u.org/">
                <img src="/dcl_logo_21.png" />
            </a>
        </div>
        <div class="col-md-9">
            <h1>Kids-U Data Entry Portal</h1>
            <p class="lead">Welcome!</p>
        </div>
    </div>

    <!--directory-->
    <div class="row">
        <div class="col-md-5">
            <h2>Data Entry</h2>
            <!--TODO: THESE LINKS MAY NEED TO BE CHANGED WHEN FUNCITONS ARE IMPLEMENTED, CHECK BACK HERE-->
            <p>@Html.ActionLink("Student Enrollment", "Index", "Student")</p>
            <!--
            <p>@Html.ActionLink("Outcomes", "Index", "OutcomeMeasurement")</p>
            <p>@Html.ActionLink("Report Cards", "Index", "ReportCard")</p>-->
        </div>
        <div class="col-md-5">
            <h2>Management</h2>
            <!--TODO: fix these links when implemented-->
            <p>@Html.ActionLink("Program/Facility Sites", "Index", "Site")</p>
            <p>@Html.ActionLink("Organizations", "Index", "Organization")</p>
            <p>@Html.ActionLink("School Districts", "Index", "District")</p>
            <p>@Html.ActionLink("Schools", "Index", "School")</p>
            <p>@Html.ActionLink("Staff Directory", "Index", "Staff")</p>
 
        </div>

    </div>
</div>
