<

    <div class="container body-content">
        <!--display-->
        <div class="jumbotron row">
            <div class="col-md-3">
                <a class="logo" href="http://www.kids-u.org/">
                    <img src="/dcl_logo_21.png" />
                </a>
            </div>
            <div class="col-md-9">
                <h1>Kids-U Data Entry Portal</h1>
                <p class="lead">Welcome!</p>
            </div>
        </div>

        <!--directory-->
        <div class="row">
            <div class="col-md-5">
                <h2>Data Entry</h2>
                <p>@Html.ActionLink("Student Enrollment", "Students", "Data")</p>
                <p>@Html.ActionLink("Outcomes", "OutcomeMeasurements", "Data")</p>
                <p>@Html.ActionLink("Report Cards", "ReportCardRecords", "Data")</p>
            </div>
            <div class="col-md-5">
                <h2>Management</h2>
                <p>@Html.ActionLink("Staff Directory", "Staff", "Data")</p>
                <p>@Html.ActionLink("Program/Facility Sites", "Sites", "Data")</p>
                <p>@Html.ActionLink("Organizations", "Organizations", "Data")</p>
                <p>@Html.ActionLink("School Districts", "SchoolDistricts", "Data")</p>
                <p>@Html.ActionLink("Schools", "Schools", "Data")</p>
            </div>

        </div>
    </div>
      