<body>


    <div class="container body-content">
	    <h2>Student Roster</h2>

        <!--search/filter/sort-->
        <div class="tabletop">
	        <div id="left">
		        @Html.ActionLink("Create New", "CreateStudents", "Create")
		        <a href="x">Export</a>

                <!--sort-->
		        <select>
				    <option value="">Sort by...</option>
				    <option value="1">First Name A-Z</option>
				    <option value="2">First Name Z-A</option>
				    <option value="3">Last Name A-Z</option>
				    <option value="4">Last Name Z-A</option>
				    <option value="5">Enrolled Ascending</option>
				    <option value="6">Enrolled Descending</option>
				    <option value="7">Income Ascending</option>
				    <option value="8">Income Descending</option>
				    <option value="9">School A-Z</option>
				    <option value="10">School Z-A</option>
				    <option value="11">Kids-U Site A-Z</option>
				    <option value="12">Kids-U Site Z-A</option>
				    <option value="13">Grade Ascending</option>
				    <option value="14">Grade Descending</option>
			    </select>
	        </div>

            <!--search-->
	        <div id="search">
		        <input type="text" placeholder="Enter Student Name">
		        <button type="button" onclick="showHide()">Adv.</button>
		        <button type="submit">Go</button>
	        </div>
        </div>

        <!--advanced-->
		<div class="expand" id="advancedSearch">
			<div id="ethnicity">
				Ethnicity:<br>
				<select>
					<option value=""> Select Ethnicity </option>
					<option value="African American"> African American </option>
					<option value="Asian">Asian</option>
					<option value="Hispanic/Latino">Hispanic/Latino</option>
					<option value="Caucasian/Other">Caucasian/Other</option>
				</select>
			</div>
			<div id="gender">
				Gender:<br>
				<input type="radio" name="gender">Male<br>
				<input type="radio" name="gender">Female
			</div>
			<div id="enrolled">
				Number of Years Enrolled:<br>
				<select>
					<option value="">Select Number of Years Enrolled </option>
					<option value="0">< 1 </option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
				</select>
			</div>
			<div id="active">
				Active:<br>
				<input type="radio" name="active">Yes<br>
				<input type="radio" name="active">No
			</div>
			<div id="income">
				Income:<br>
				<select>
					<option value=""> Select Income</option>
					<option value="1">< $20K</option>
					<option value="2">$20K - $25K</option>
					<option value="3">> $25K</option>
				</select>
			</div>
			<div id="lunch">
				Free Lunch:<br>
				<input type="radio" name="lunch">Yes<br>
				<input type="radio" name="lunch">No
			</div>
			<div id="school">
				School:<br>
				<input type="text" name="schoolName" placeholder="Enter school name">
			</div>
			<div id="facility">
				Facility:<br>
				<input type="text" name="facilityName" placeholder="Enter facility name">
			</div>
			<div id="grade">
				School Grade:<br>
				<select>
					<option value="">Select School Grade </option>
					<option value="0">K </option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
				</select>
			</div>
		</div>

        <!--table-->
		<table class="table">
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Kids-U Site</th>
				<th>Grade</th>
				<th></th>
			</tr>

			@*
			<!--TODO: this returns all, need to add switch cases for filters-->
			@foreach (var item in Model.Students)
			{
				<tr>
					<td>@item.FirstName</td>
					<td>@item.LastName</td>
					<td>@item.Facility</td>
					<td>@item.SchoolGrade</td>
				</tr>
			}
			*@

		</table>
        

       
    </div>
</body>